# Docker compose yaml|yml
/docker-compose.yaml
/docker-compose.yml

# Directories
/bitbucket/
/confluence/
/crowd/
/datart/
/elasticsearch/
/grafana/
/fluentd/
/gitlab/
/jenkins/
/jira/
/kibana/
/matomo/
/metabase/
/mongo/
/mysql/
/named/
/nexus/
/nginx/
/postgresql/
/prometheus/
/rancher/
/redis/
/registry/
/zentao/
