# Docker compose yaml|yml
/docker-compose.yaml
/docker-compose.yml

# Directories
/elasticsearch
/filebeat
/fiscobcos
/fluentd
/jenkins
/kibana
/logstash
/mongo
/mysql
/named
/postgresql
/rancher
/redis
/registry
