# Docker compose yaml|yml
docker-compose.yaml
docker-compose.yml

# Directories
elasticsearch/
filebeat/
fluentd/
jenkins/
kibana/
logstash/
mariadb/
mongo/
named/
postgresql/
rancher/
redis/
registry/
